.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ECF2FF;
}

.form {
  border: none;
  padding: 30px;
  border-radius: .5rem;
  background-color: #ffff;
}

.center {
  text-align: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: .5em;
}